*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(image/katflix.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slide 4s infinite;
}
ul{
  
    font-family: 'Bebas Neue', cursive;
    margin-top: 30px;
    list-style: none;
    float: right;
}
ul li{
    
    display: inline-block;
}
ul li a{
    
    border-radius: 4px;
    text-decoration: none;
    color: white;
    padding: 5px 22px;
    border: 1px solid transparent;
    transition: 0.5s ease;
    font-size: 22px;
}
ul li a:hover{
    background: #e50914;
    color: white;
    
}
.logo img{
    position: absolute;
    float: left;
    width: 150px;
    margin-top: 25px;
    height: auto;
    margin-left:30px;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top:50%
}
.title{
    left:50%
}
.title{
    transform: translate(-50%,-50%);
}
.title h1{
    color: white;
    font-size: 40px;
}
.btn{
    position: absolute;
    top:65%
}
.btn{
    left:50%
}
.btn{
    
    transform: translate(-50%,-50%);

}
.btn{
    background-color: #e50914;
    border: 1px solid transparent;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.06s ease;
   
}
.btn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* @keyframes slide{
    0%{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/9.webp);
    }
    20%{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/7.webp);
    }
    20.01%{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/7.webp);
    }
    40%{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/8.webp);
    }
    40.01%{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/8.webp);
    }
    60%{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/9.webp);
    }
    60.01%{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/9.webp);
    }
    80%{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/2.webp);
    }
    80.01%{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/image/2.webp);
    }
    100%{
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(image/katflix.jpg);
    }
} */
